/* ---------------
  name: Google Calendar Material
  author: @bazsi44
  e-mail: info@balazsorban.com
  matches: https://calendar.google.com*
  version: 1.5
  ------------------ */

  /*HIDDEN*/
::-webkit-scrollbar, #gb#gb span.gb_P, #navfooter, #mg-more, .date-top, .qnb-qab, .qnb-container .goog-imageless-button-content, .trans-strip, .applogo, .wk-dummyth, .bottom-prong, .neb-rb-default, .delete-button{
    display: none;
}
::-webkit-input-placeholder {
    color: transparent
}

/*TOP*/

/*NAVBAR*/
.gb_Nb .gb_Pb {
    background: none
}
.gb_Nb .gb_Pb:after {
    position: absolute;
    top: -15px;
    left: 5px;
    font-size: 1.5em;
    color: white;
    content: "Calendar"
}
.gb_ge {
    background: #4285f4;
    box-shadow: 0px 0px 10px black;
    z-index:1000
}

/*SEARCHBAR*/
#gbqfb {
    position: relative;
    left: -600px;
    background: transparent
}
#gbqfq {
    position:fixed;
    left:30px;
    color: white;
}
.gbqfqw {
    width:37vw;
    background: transparent;
    border: none;
}
.gbqfqwb {
    border-radius: 2px;
    background: #5e97f6;
    width:70vw
}
.asb-w{
padding:10px;
position:relative;
top:-10px;
left:67vw;
z-index:100
}
/*Top image*/
#vr-nav{
top:0;
height:150px;
background: url(https://goo.gl/WqJft2) no-repeat 0px -160px fixed;
background-size:100%;
margin:0}


/*Buttons*/

.goog-imageless-button, .navbuttonouter {
    border-radius: 0;
    border: none;
    padding: 0;
    margin: 0
}

/*New event*/
.qnb-container {
    position: fixed;
    bottom: 44px;
    right: 44px;
    z-index: 1;
}
.qnb-container{
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.qnb-container .goog-imageless-button, .qnb-container .goog-imageless-button:hover {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xOSAxM2gtNnY2aC0ydi02SDV2LTJoNlY1aDJ2Nmg2djJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #db4437;
    cursor: default;
}

.qnb-container .goog-imageless-button:hover {
    border: none;
    background-color: #e06e55;
    transform: rotate(90deg);
	transition:0.2s
}


/*Settings*/
#mg-settings {
    padding: 0px;
    position: fixed;
    height: 60px;
    top: 60px;
    right: 0;
    background: transparent;
    transition: 0s
}
#mg-settings:hover {
    box-shadow: none
}
#mg-settings .goog-imageless-button-outer-box {
    background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xMiA4YzEuMSAwIDItLjkgMi0ycy0uOS0yLTItMi0yIC45LTIgMiAuOSAyIDIgMnptMCAyYy0xLjEgMC0yIC45LTIgMnMuOSAyIDIgMiAyLS45IDItMi0uOS0yLTItMnptMCA2Yy0xLjEgMC0yIC45LTIgMnMuOSAyIDIgMiAyLS45IDItMi0uOS0yLTItMnoiLz4KPC9zdmc+') no-repeat;
    background-size:120%;
    height: 24px;
    width: 24px;
    position: relative;
    top: 18px;
    opacity:1
}



/*Date buttons*/
#mainnav {
    background:transparent;
    position: fixed;

}

.date-nav-today .goog-imageless-button, .navbuttonouter, .navbuttonouter:hover  {
box-shadow:none;
border:none;
background:transparent;
color:transparent
}
.date-nav-today{
background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xOSAzaC0xVjFoLTJ2Mkg4VjFINnYySDVjLTEuMTEgMC0xLjk5LjktMS45OSAyTDMgMTljMCAxLjEuODkgMiAyIDJoMTRjMS4xIDAgMi0uOSAyLTJWNWMwLTEuMS0uOS0yLTItMnptMCAxNkg1VjhoMTR2MTF6TTcgMTBoNXY1SDd6Ii8+Cjwvc3ZnPg==) no-repeat center center;
background-size:50%
}
.date-nav-prev{
padding:0;
position:relative;
left:-77px
}
.date-nav-next{
padding:0;
position:relative;
left:-41px
}
.nav-table{
position:fixed;
top:80px;
right:2%;
}

#topRightNavigation {
top:120px;
position: fixed;
right:0
}



/*Sidebar*/

#nav{
position:fixed;
margin-left:0;
top:60px;
width:16%;
height:100%;
z-index:1;
background-color:white;
box-shadow: 0px 0px 10px rgba(0,0,0,0.4)
}
.goog-zippy-expanded .monthtableBody {
    padding-right: 0.2rem;
    padding-left: 0;
}
#dp_h, #dp_0, #clst_my, #clst_fav, .calList{
position:relative;
width:85%;
margin-left:7.5%}
.monthtableBody{
width:100%}
.monthtableBody .dp-cell {
    padding:0;
    width:2rem;
    height:2rem;
    line-height:0.5rem;
    position:relative;
    border-radius: 50%;
}
.dp-weekday-selected, .dp-weekend-selected {
    background-color: transparent
}
.dp-today-selected, .dp-today, .dp-onhover {
    padding:0;
    color: white;
    background: #4285f4;
    border: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1)
}

/*Weekdays*/
.wk-weektop, .wk-allday{background:transparent;}
.wk-dayname {
    border-top:none;
    font-size: 2em;
    font-weight: bold;
    color: white;
}
.wk-today {
    font-size:2.2em;
    position:relative;
    color: #444;

}
.wk-webcontent-td{
height:auto;
min-height:0px}
.st-s, .st-c-pos{
padding:0}


/*Main Calendar*/
#gridcontainer {
    position:absolute;
    background:transparent;
    top:-24px;
    left: 17%;
    width: 83%
}
/*Reminders*/
.st-c .te, .st-c .rb-n {
    border-radius: 0.3rem;
     padding: 0.4rem 0rem;
}
.rb-ni {
    text-align:center;

    font-size:1.2em;
    color: white
}

/*Table borders*/
.ct, .tg-dualmarker, .tg-dualmarker60 {
    border-bottom: none;
    border-top: 1px solid rgba(20, 20, 20, 0.03)
}
.tg-col {
    border-left: 1px solid #F9F9F9;
}




/*Table texts*/
.chip dd{
padding-top:10px;
position:relative;
top:-5px;
height:100%;
background-size: 100% auto;
background-position: top center;
background-repeat: no-repeat}

.chip dt{
position:relative;
top: 1em;
display:none;
z-index:1}
.wk-border{
position:relative;
left:15px
}
.tg-time-pri, .t5-time-sec, .tg-times-pri, .tg-times-sec, .mask-top, .mask-left, .mask-bottom, .mask-right, .chip dl, #weekViewAllDayBgwk, .wbkt .tg-timedevents, #searchAddCal, .st-c-pos div, .st-bg, .wk-allday .st-bg-next, .wk-allday .st-bg-today, .wk-allday .st-bg-td-first, .wk-allday .st-bg-td-last, .wk-dayname.wk-today, .wk-dayname.wk-tomorrow, #vr-nav {
    border-color: transparent !important;
}
.mask-top, .mask-left, .mask-bottom, .mask-right, .wk-dayname.wk-today, .wk-allday .st-bg-today {
    background-color: transparent !important;
}

/*Events*/
.chip dl, .calListLabelOuter {
    border-radius: 0.3rem;
    min-height: 1.7rem;
}
.chip dd, .chip dt {
    color: #fff;
    overflow:visible;
    padding: 5px 5px 0px 5px;
    line-height:1em;
    font-size: 1.2em
}
.tg-col-eventwrapper {
    padding-left: 0.73rem;
}

.drag-chip-wrapper {
    position: relative;
}

.hin-bubble .hin-ic, .cic-hin{
background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xNC40IDZMMTQgNEg1djE3aDJ2LTdoNS42bC40IDJoN1Y2eiIvPgo8L3N2Zz4=) no-repeat;
    background-size: 16px
}

/*Event bubble*/


.bubblemain{
    background: url(https://goo.gl/WqJft2);
    background-size: cover;
    background-position: top center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.bubble, .hin-bubble .title-text, .hin-bubble .when{
    box-shadow:none;
	color:white;
    border-radius:10px;
}

.bubbleclose{
background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xOSA2LjQxTDE3LjU5IDUgMTIgMTAuNTkgNi40MSA1IDUgNi40MSAxMC41OSAxMiA1IDE3LjU5IDYuNDEgMTkgMTIgMTMuNDEgMTcuNTkgMTkgMTkgMTcuNTkgMTMuNDEgMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==) center center;
    padding:8px;
    background-size:80%
}
.neb-header .ui-sch-schmedit{
color:white}

.details-button, .details-button:hover {
   background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0zIDE3LjI1VjIxaDMuNzVMMTcuODEgOS45NGwtMy43NS0zLjc1TDMgMTcuMjV6TTIwLjcxIDcuMDRjLjM5LS4zOS4zOS0xLjAyIDAtMS40MWwtMi4zNC0yLjM0Yy0uMzktLjM5LTEuMDItLjM5LTEuNDEgMGwtMS44MyAxLjgzIDMuNzUgMy43NSAxLjgzLTEuODN6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==) no-repeat center center;
    background-size: auto 50%;
    padding:0;
    border:0;
	border-radius:50%;
    background-color: #4285f4;
    position: absolute;
    bottom:0.8rem;
    right:10px;
    font-size:0;
    min-width: 40px !important;
    height:40px !important
}

.neb-footer{
margin:0;
width:100%;
background-color:white;
position:absolute;
left:0;
top:100%;
box-sizing:border-box;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border:1px solid lightgrey}

.neb-bold-action{
padding-left:10px;}

/*Now marker*/

#tgnowmarker {
    width: 100%;
    border-color: #4285f4;
    z-index:1
}
.tg-nowptr {
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background: #4285f4;
}
.tg-col-overlaywrapper {
    position: static
}



/* CREATE EVENT*/

.ep-ea, .ep-title, .ep-title .textinput {
    margin: 0;
    border: none;
    background: #4285f4
}
.ep-title {
    padding-left: 0
}
.ep-title .textinput {
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
}
.neb-data {
    display: block;
    visibility: visible
}
.ep-title:before {
    position: relative;
    top: 26px;
    color: white;
    padding-left: 10px;
    content: 'Enter title, times, people, places...'
}
