/* ---------------
  name: Google Calendar Material
  author: @bazsi44
  e-mail: info@balazsorban.com
  matches: https://calendar.google.com*
  version: 1.5
  ------------------ */

  /*HIDDEN*/
::-webkit-scrollbar, #gb#gb span.gb_P, #navfooter, #mg-more, .date-top, .qnb-qab, .qnb-container .goog-imageless-button-content, .trans-strip, .applogo, .wk-dummyth, .bottom-prong, .neb-rb-default, .delete-button {
    display: none;
}
::-webkit-input-placeholder {
    color: transparent
}

/*TOP*/

/*NAVBAR*/
.gb_Nb .gb_Pb {
    background: none
}
.gb_Nb .gb_Pb:after {
    position: absolute;
    top: -15px;
    left: 35px;
    font-size: 1.5em;
    color: white;
    content: "Calendar"
}
.gb_ge {
    background: #4285f4;
    box-shadow: 0px 0px 10px black;
    z-index:1
}

/*SEARCHBAR*/
#gbqfb {
    position: relative;
    left: -600px;
    background: transparent
}
#gbqfq {
    position:fixed;
    left:30px;
    color: white;
}
.gbqfqw {
    width:37vw;
    background: transparent;
    border: none;
}
.gbqfqwb {
    border-radius: 2px;
    background: #5e97f6
}

/*Top image*/
#vr-nav{
top:0;
height:150px;
background: url('https://raw.githubusercontent.com/balazsorban44/google-calendar-web-material/master/images/top-bg.png') no-repeat 0px -160px fixed;
background-size:100%;
margin:0}


/*Buttons*/

.goog-imageless-button, .navbuttonouter {
    border-radius: 0;
    border: none;
    padding: 0;
    margin: 0
}

/*New event*/
.qnb-container {
    position: fixed;
    bottom: 44px;
    right: 44px;
    z-index: 10000
}
.qnb-container{
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.qnb-container .goog-imageless-button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAABlBMVEX///////9VfPVsAAAAAXRSTlMAQObYZgAAABdJREFUeAFjgABGRghNTS4jCkDj0s5eABYmADXjpGKcAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #db4437;
    cursor: default;
}

.qnb-container .goog-imageless-button:hover {
    border: none;
    background-color: #e06e55;
    transform: rotate(90deg);
	transition:0.2s
}


/*Settings*/
#mg-settings {
    padding: 0px;
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    background: transparent;
    transition: 0s
}
#mg-settings:hover {
    box-shadow: none
}
#mg-settings .goog-imageless-button-outer-box {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAGklEQVQ4y2NgGAVEg/9EAMo0jHp61NOjAAgAUWrXKeQhPE4AAAAASUVORK5CYII=') no-repeat;
    height: 24px;
    width: 24px;
    position: relative;
    top: 18px;
}



/*Date buttons*/
#mainnav {
    background:transparent;
    position: fixed;
    z-index: 1000
}
/*
.date-nav-today .goog-imageless-button, .goog-imageless-button:hover, .navbuttonouter, .navbuttonouter:hover  {
box-shadow:none;
border:none;
background:transparent;
color:transparent
}
.date-nav-today{
background: url(https://raw.githubusercontent.com/balazsorban44/google-calendar-web-material/master/images/today.png) no-repeat center center;
}
.date-nav-prev{
padding:0;
position:relative;
left:-65px
}
.date-nav-next{
padding:0;
position:relative;
left:-41px
}*/
.nav-table{
position:fixed;
top:16px;
left:50%;
}

#topRightNavigation {
top:16px;
position: fixed;
right:25vw
}

/*Weekdays*/
#topcontainerwk{
position:relative;
top:-30px}
.wk-weektop, .wk-allday{background:transparent;}
.wk-dayname {
    border-top:none;
    font-size: 2em;
    font-weight: bold;
    color: white;
}
.wk-today {
    font-size:2.2em;
    position:relative;
    color: #444;

}


/*Sidebar*/

#nav, #sidebar {
    width: 14vw !important;
}
.goog-zippy-expanded .monthtableBody {
    padding-right: 0.2rem;
    padding-left: 0;
}
.monthtableBody .dp-cell {
    position:relative;
	padding:0rem 0.5rem !important;
    line-height:2.5rem;
    border-radius: 50%;
}
.dp-weekday-selected, .dp-weekend-selected {
    background-color: transparent
}
.dp-today-selected, .dp-today, .dp-onhover {
    padding:0;
    color: white;
    background: #4285f4;
    border: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1)
}






/*Main Calendar*/
#gridcontainer {
    position:absolute;
    left: 17%;
    width: 83%
}
/*Reminders*/
.st-c .te, .st-c .rb-n {
    border-radius: 0.3rem;
     padding: 0.4rem 0rem;
}
.rb-ni {
    text-align:center;

    font-size:1.2em;
    color: white
}

/*Table borders*/
.ct, .tg-dualmarker, .tg-dualmarker60 {
    border-bottom: none;
    border-top: 1px solid rgba(20, 20, 20, 0.03)
}
.tg-col {
    border-left: 1px solid #F9F9F9;
}




/*Table texts*/
.chip dd{
padding-top:10px;
position:relative;
top:-1.5em;
height:100%;
    background-size: 100% auto;
    background-position: top center;}
.chip dt{
position:relative;
top: 1em;
z-index:1}
.wk-border{
position:relative;
left:15px
}
.tg-time-pri, .t5-time-sec, .tg-times-pri, .tg-times-sec, .mask-top, .mask-left, .mask-bottom, .mask-right, .chip dl, #weekViewAllDayBgwk, .wbkt .tg-timedevents, #searchAddCal, .st-c-pos div, .st-bg, .wk-allday .st-bg-next, .wk-allday .st-bg-today, .wk-allday .st-bg-td-first, .wk-allday .st-bg-td-last, .wk-dayname.wk-today, .wk-dayname.wk-tomorrow, #vr-nav {
    border-color: transparent !important;
}
.mask-top, .mask-left, .mask-bottom, .mask-right, .wk-dayname.wk-today, .wk-allday .st-bg-today {
    background-color: transparent !important;
}

/*Events*/
.chip dl, .calListLabelOuter {
    border-radius: 0.3rem;
    min-height: 1.7rem;
}
.chip dd, .chip dt {
    color: #fff;
    overflow:visible;
    padding: 5px 5px 0px 5px;
    line-height:1em;
    font-size: 1.2em
}
.tg-col-eventwrapper {
    padding-left: 0.73rem;
}

.drag-chip-wrapper {
    position: relative;
}
/*Event bubble*/


.bubblemain{
    background: url(https://goo.gl/O14CLC);
	background-repeat:no-repeat;
    background-size: 100% auto;
    background-position: top center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.bubble, .hin-bubble .title-text, .hin-bubble .when{
    box-shadow:none;
	color:white;
    border-radius:10px;
}


.neb-header .ui-sch-schmedit{
color:white}

.details-button, .details-button:hover {
    background: url(https://raw.githubusercontent.com/balazsorban44/google-calendar-web-material/master/images/edit.png) no-repeat top center;
	border:none;
    background-size: 40px;
    position: absolute;
    bottom:0.8rem;
    right:0;
    height: 40px;
    color:transparent;
}

.neb-footer{
margin:0;
width:100%;
background-color:white;
position:absolute;
left:0;
top:100%;
box-sizing:border-box;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border:1px solid lightgrey}

.neb-bold-action{
padding-left:10px;}

/*Now marker*/

#tgnowmarker {
    width: 100%;
    border-color: #4285f4;
    z-index:1
}
.tg-nowptr {
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background: #4285f4;
}
.tg-col-overlaywrapper {
    position: static
}



/* CREATE EVENT*/

.ep-ea, .ep-title, .ep-title .textinput {
    margin: 0;
    border: none;
    background: #4285f4
}
.ep-title {
    padding-left: 0
}
.ep-title .textinput {
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
}
.neb-data {
    display: block;
    visibility: visible
}
.ep-title:before {
    position: relative;
    top: 26px;
    color: white;
    padding-left: 10px;
    content: 'Enter title, times, people, places...'
}