/* ---------------
  name: Google Calendar Material
  author: @Balázs Orbán
  e-mail: info@balazsorban.com
  matches: https://calendar.google.com*
  version: 3.0
  ------------------ */

.tg-nowptr, .gb_Vb, #gb#gb span.gb_P, #navfooter, #mg-more, .date-top, .qnb-qab, .qnb-container .goog-imageless-button-content, .trans-strip, .applogo, .wk-dummyth, .bottom-prong, .neb-rb-default, .delete-button {
	display: none;
}
/* ---------------
		NAVBAR
------------------ */

#onegoogbar {
	display: flex;
	position: fixed;
	max-width: 45vw;
	top: 1vw;
	z-index: 1001;
}
/*Navbar logo*/

.gb_Sb {
	background: url(https://lh3.googleusercontent.com/Ixidy5j7AE_l59ZiQgMHEjMfThn8u_yPdI5FddUWcPaPBFqHOi3UwVr9nC2qM4gDPK82mQvw=s50-h50-e365-rw) center center no-repeat;
}
/*Navbar background*/

.gb_Ce {
	background-color: transparent
}
/*SEARCHBAR*/

#gbqfw {
	position: relative;
	width: 25vw;
	left: -2vw;
	z-index: 1
}
/*Background image*/

#vr-nav {
	top: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 20%);
	background-position: center;
	background-repeat: no-repeat;
	margin: 0
}
/*Buttons*/

.goog-imageless-button, .navbuttonouter {
	border: none;
	margin: 0
}
/*New event*/

.qnb-container {
	position: fixed;
	bottom: 36px;
	right: 36px;
	border-radius: 50%;
	box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}
.qnb-container .goog-imageless-button, .qnb-container .goog-imageless-button:hover {
	padding: 0;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xOSAxM2gtNnY2aC0ydi02SDV2LTJoNlY1aDJ2Nmg2djJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==);
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #db4437;
	border: none
}
.qnb-container .goog-imageless-button:hover {
	transform: rotate(90deg);
	transition: 0.2s
}
/*Settings*/

#mg-settings {
	padding: 0px;
	position: fixed;
	top: 2vw;
	right: 2vw;
	background: transparent;
	transition: 0s
}
#mg-settings:hover {
	box-shadow: none
}
#mg-settings .goog-imageless-button-outer-box {
	-webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.6));
	background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xMiA4YzEuMSAwIDItLjkgMi0ycy0uOS0yLTItMi0yIC45LTIgMiAuOSAyIDIgMnptMCAyYy0xLjEgMC0yIC45LTIgMnMuOSAyIDIgMiAyLS45IDItMi0uOS0yLTItMnptMCA2Yy0xLjEgMC0yIC45LTIgMnMuOSAyIDIgMiAyLS45IDItMi0uOS0yLTItMnoiLz4KPC9zdmc+') no-repeat;
	background-size: 120%;
	height: 24px;
	width: 24px;
	position: relative;
	top: 18px;
	opacity: 1;
}
#mg-settings .goog-imageless-button-outer-box {
	top: 0
}
/*Date buttons*/

#mainnav {
	background: transparent;
	position: fixed;
}
/*
#calcontent .date-nav-today .goog-imageless-button {
	-webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
	background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xOSAzaC0xVjFoLTJ2Mkg4VjFINnYySDVjLTEuMTEgMC0xLjk5LjktMS45OSAyTDMgMTljMCAxLjEuODkgMiAyIDJoMTRjMS4xIDAgMi0uOSAyLTJWNWMwLTEuMS0uOS0yLTItMnptMCAxNkg1VjhoMTR2MTF6TTcgMTBoNXY1SDd6Ii8+Cjwvc3ZnPg==) center no-repeat;
	background-size: 40%;
}
*/

.date-nav-today {
	color: transparent !important
}
.date-nav-prev {
	padding: 0;
	position: relative;
	left: -91px
}
/*
.navBack {
	-webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
	background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNS40MSAxNi4wOWwtNC41OC00LjU5IDQuNTgtNC41OUwxNCA1LjVsLTYgNiA2IDZ6Ii8+CiAgICA8cGF0aCBkPSJNMC0uNWgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4=) center;
	background-size: 100%
}*/

.date-nav-next {
	padding: 0;
	position: relative;
	left: -42px
}
/*
.navForward {
	-webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
	background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik04LjU5IDE2LjM0bDQuNTgtNC41OS00LjU4LTQuNTlMMTAgNS43NWw2IDYtNiA2eiIvPgogICAgPHBhdGggZD0iTTAtLjI1aDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==) center;
	background-size: 100%
}*/

.nav-table {
	position: fixed;
	top: 2vw;
	right: 22.5vw;
}
#topRightNavigation {
	top: 2vw;
	position: fixed;
	right: 6.5vw
}
#topRightNavigation .button-strip {
	margin: 0;
}
/*Sidebar*/

#nav {
	left: 1.5vw;
	max-height: 73vh;
	min-height: 73vh;
	overflow: scroll;
	top: 17vh;
	width: 14%;
	z-index: 1;
	background: white;
	padding: 0 5px;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}
.goog-zippy-expanded .monthtableBody {
	padding: 0
}
#dp_h, #dp_0, #clst_my, #clst_fav, .calList {
	position: relative;
	width: 92.5%;
	margin-left: 7.5%
}
.dp-weekday, .dp-weekend, .dp-with-events {
	width: 2.5em;
	line-height: 2.5em
}
.dp-today-selected, .dp-today, .dp-onhover {
	line-height: 2.5em;
	width: 2.5em;
	color: white;
	background: #4285f4;
	border-radius: 50%;
	border: none;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
/*Weekdays*/

.wk-weektop, .wk-allday {
	margin-top: -24px;
	background: transparent;
}
.wk-dayname {
	border-top: none;
	font-size: 1.8em;
	font-weight: bold;
	color: white;
}
.wk-today {
	font-size: 2em;
	color: #444;
}
.st-s, .st-c-pos {
	padding: 0;
}
/*Main Calendar*/

#gridcontainer {
	position: absolute;
	top: 17vh;
	left: 21%;
	width: 72%;
	max-height: 73vh;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, .3);
	background-color: rgba(255, 255, 255, .8)
}
#scrolltimedeventswk {
	display: flex;
}
/*Reminders*/

.st-c .te, .st-c .rb-n {
	padding: .5rem 0;
}
.rb-ni {
	text-align: center;
	font-size: 1.2em;
	color: white
}
/*Table borders*/
/*Table texts*/

.chip dd, .chip dt {
	background: linear-gradient(rgba(0, 0, 0, .1), transparent);
	color: #fff;
	padding: 0
}
.chip dd, .cbrd, .cbrdcc {
	display: block;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.resizer {
	z-index: 1
}
.chip-color, .chip-border, .tg-time-pri, .t5-time-sec, .tg-times-pri, .tg-times-sec, .mask-top, .mask-left, .mask-bottom, .mask-right, .chip dl, #weekViewAllDayBgwk, .wbkt .tg-timedevents, #searchAddCal, .st-c-pos div, .st-bg, .wk-allday .st-bg-next, .wk-allday .st-bg-today, .wk-allday .st-bg-td-first, .wk-allday .st-bg-td-last, .wk-dayname.wk-today, .wk-dayname.wk-tomorrow, #vr-nav {
	border-color: transparent !important;
}
.mask-top, .mask-left, .mask-bottom, .mask-right, .wk-dayname.wk-today, .wk-allday .st-bg-today {
	background-color: transparent !important;
}
/*Events*/

.chip dl {
	border-radius: 0.3rem;
	min-height: 1.5rem;
}
.tg-col-eventwrapper {
	padding-left: 0.73rem;
}
.drag-chip-wrapper {
	position: relative;
}
.hin-bubble .hin-ic, .cic-hin {
	background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xNC40IDZMMTQgNEg1djE3aDJ2LTdoNS42bC40IDJoN1Y2eiIvPgo8L3N2Zz4=) no-repeat;
	background-size: 12px
}
/*Event bubble*/

.bubblemain {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
	background-size: 100%;
	background-position: bottom center;
}
.bubble.has-bottom-prong {
	border-radius: 5px
}
.bubble, .hin-bubble .title-text, .hin-bubble .when {
	box-shadow: none;
	color: white;
	border: none;
}
.bubbleclose {
	background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xOSA2LjQxTDE3LjU5IDUgMTIgMTAuNTkgNi40MSA1IDUgNi40MSAxMC41OSAxMiA1IDE3LjU5IDYuNDEgMTkgMTIgMTMuNDEgMTcuNTkgMTkgMTkgMTcuNTkgMTMuNDEgMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==) center center;
	padding: 8px;
	background-size: 80%
}
.neb-header .ui-sch-schmedit {
	color: white
}
.details-button, .details-button:hover, .edit-btn, .edit-btn:hover, .done-btn, .done-btn:hover, .delete-btn, .delete-btn:hover {
	background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0zIDE3LjI1VjIxaDMuNzVMMTcuODEgOS45NGwtMy43NS0zLjc1TDMgMTcuMjV6TTIwLjcxIDcuMDRjLjM5LS4zOS4zOS0xLjAyIDAtMS40MWwtMi4zNC0yLjM0Yy0uMzktLjM5LTEuMDItLjM5LTEuNDEgMGwtMS44MyAxLjgzIDMuNzUgMy43NSAxLjgzLTEuODN6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==) no-repeat center center;
	background-size: auto 50%;
	padding: 0;
	border: 0;
	border-radius: 50%;
	background-color: #4285f4;
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 0;
	min-width: 40px !important;
	height: 40px !important;
	transition: 0.2s
}
.done-btn, .done-btn:hover {
	background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik05IDE2LjJMNC44IDEybC0xLjQgMS40TDkgMTkgMjEgN2wtMS40LTEuNEw5IDE2LjJ6Ii8+Cjwvc3ZnPg==);
}
.edit-btn, .edit-btn:hover {
	right: 60px
}
.delete-btn, .delete-btn:hover {
	background-color: #db4437;
	left: 20px;
	right: auto;
	background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik02IDE5YzAgMS4xLjkgMiAyIDJoOGMxLjEgMCAyLS45IDItMlY3SDZ2MTJ6TTE5IDRoLTMuNWwtMS0xaC01bC0xIDFINXYyaDE0VjR6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==)
}
.delete-btn:hover {
	background-color: #e06e55
}
.neb-footer {
	margin: 0;
	width: 100%;
	background-color: white;
	position: absolute;
	left: 0;
	top: 100%;
	box-sizing: border-box;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.neb-bold-action {
	padding-left: 10px;
}
/*Now marker*/

#tgnowmarker {
	width: 100%;
	height: 2px;
	background-color: #4285f4;
	border: none;
	z-index: 1000
}
.tg-col-overlaywrapper {
	position: static
}
/* CREATE EVENT*/

.ep-ea, .ep-title, .ep-title .textinput {
	margin: 0;
	border: none;
	background: #4285f4
}
.ep-title {
	padding-left: 0
}
.ep-title .textinput {
	width: 100%;
	color: white;
	text-align: center;
	padding: 10px;
}
.neb-data {
	display: block;
	visibility: visible
}
.ep-title:before {
	position: relative;
	top: 26px;
	color: white;
	padding-left: 10px;
	content: 'Enter title, times, people, places...'
}
